body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'Hind', sans-serif;
  background:#222;
  color:#c0c0c0;
  font-weight:300;
  letter-spacing:.04em;
}
img {
  width: 100%;
}
p {
  line-height: 1.8em;
  font-size: 0.9em;
  font-family: 'Noto Serif', serif;
  margin-bottom: 1.8em;
}
p a {
  color: #fff;
}

@media (min-width: 50em) {}

h1 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  top:0;
  background: #1b1b1b;
}
#home {
  position: absolute;
  padding: 9px;
  background: #3D9970;
  color: #fff;
  vertical-align: middle;
}
#nav {
  position: relative;
  padding: 1em 0;
  margin-left: 20px;
}
#popup {
  z-index: 12;
  position: fixed;
  top: 40px;
  background: #fff;
  color: #555;
  padding: 6px 7px 4px;
  line-height: 1em;
  font-size: 0.8em;
  font-weight: 900;
  display: none;
}
#popup span {
  font-weight: 100;
  line-height: 13px;
}
.post_node {
  position: absolute;
  width: 4px;
  height: 100%;
  /*border-radius: 50%;*/
  margin-top: -18px;
  background: #fff;
}
.post_node.active,
.post_node:hover {
  background: #2ECC40;
}
.post_date {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  background: #555;
}

section {
  display: block;
  width: 50em;
  margin: auto;
}
header {
  background-color: #1b1b1b;
  padding: 5em 0 3em;
}
article {
  float: left;
  width: 40em;
}

.index {
  margin: 3em auto;
}
.index h4,
.index p {
  padding: 0;
  margin: 0;
  color: #fff;
}
.index p {
  color: #c0c0c0;
}
.index_post {
  display: block;
  background: #1b1b1b;
  margin-bottom: 1em;
}
.index_post_img {
  float: left;
  width: 50%;
  opacity: 0.7;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  height: 100px;
  background-position: center center;
}
.index_post_text {
  float: left;
  width: 50%;
  box-sizing:border-box;  
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box;
  padding: 1em;
}
.index_post:hover {
  background: #111;
}
.index_post:hover .index_post_img {
  opacity: 1;
}

footer {
  display: block;
  width: 100%;
  text-align: center;
  margin: 2em 0;
}
footer a {
  color: #555;
  text-decoration: none;
}

.cf:before,
.cf:after {
    content:" ";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    *zoom:1;
}